/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #e0e0e0;
    background-color: #121212;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h3 {
    color: #00bfff;
    margin-bottom: 10px;
}

a {
    color: #00bfff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
.header {
    text-align: center;
    background: linear-gradient(90deg, #1e1e1e, #333333);
    color: white;
    padding: 60px 20px;
}

.site-title {
    font-size: 3em;
    font-weight: bold;
    color: #00bfff;
    margin-bottom: 10px; /* Space between title and description */
}

.site-description {
    font-size: 1.5em;
    color: #bbbbbb;
    margin-top: 0;
}

.header-icons a {
    margin: 0 15px;
    color: #00bfff;
    text-decoration: none;
    font-size: 1.5em;
}

.header-links a {
    margin: 0 10px;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.header-links a:hover {
    text-decoration: underline;
}

/* Section Styling */
.user-details {
    padding: 50px;
    background-color: #1e1e1e;
    margin: 20px 0;
}

p {
    color: #cccccc;
}

h1 {
    border-bottom: 2px solid #00bfff;
    padding-bottom: 10px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #999;
}
